body{
  background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/63/48/2057ac31ae07890.jpg);
}
#labels {
  border:2px solid darkgray;
  background-color: white;
}
nav{
  background-color: white;
}