html,
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  width: 1320px;
  height: 500px;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

body{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCkSLnR3UJy2opdzVEjBhKiXR9dQR-XAyYTw&usqp=CAU); 
  background-size: cover;
} 
#labels {
  border:2px solid darkgray;
  background-color: white;
}
nav{
  background-color: white;
}

