<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olympics dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="resources/python/syle.css">
</head>

<body>

    <div class="container">
        <!-- Header-->
        <div class="row">
            <div id='jumbotron' class="col-md-12 jumbotron text-center">
                <img src="resources/header_image.png">

            </div>
        </div>
        <!-- Filters-->
        <div class="row">
            <nav id='bar1' class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Filters</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Year
                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">1948</a></li>
                                    <li><a class="dropdown-item" href="#">1952</a></li>
                                    <li><a class="dropdown-item" href="#">1956</a></li>
                                    <li><a class="dropdown-item" href="#">1960</a></li>
                                    <li><a class="dropdown-item" href="#">1964</a></li>
                                    <li><a class="dropdown-item" href="#">1968</a></li>
                                    <li><a class="dropdown-item" href="#">1972</a></li>
                                    <li><a class="dropdown-item" href="#">1976</a></li>
                                    <li><a class="dropdown-item" href="#">1980</a></li>
                                    <li><a class="dropdown-item" href="#">1984</a></li>
                                    <li><a class="dropdown-item" href="#">1988</a></li>
                                    <li><a class="dropdown-item" href="#">1992</a></li>
                                    <li><a class="dropdown-item" href="#">1996</a></li>
                                    <li><a class="dropdown-item" href="#">2000</a></li>
                                    <li><a class="dropdown-item" href="#">2004</a></li>
                                    <li><a class="dropdown-item" href="#">2008</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sport category
                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Acquatic</a></li>
                                    <li><a class="dropdown-item" href="#">Athletics</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gender
                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Masculine</a></li>
                                    <li><a class="dropdown-item" href="#">Femenine</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Main map-->
        <div class="row">
            <div id='map' class='col-md-12'></div>
            <img id='kl' src="Initial Images/Inspo 1.png">
        </div>
        <!-- 3 Graphs-->
        <div id='labels'>
            <div class="container">
                <div class="row">
                    <div class="col order-last">
                        First in DOM, ordered last
                    </div>
                    <div class="col">
                        Second in DOM, unordered
                    </div>
                    <div class="col order-first">
                        Third in DOM, ordered first
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id='medals' class="col-md-4"></div>
            <div id='Athletes' class="col-md-4"></div>
            <div id='gdp' class="col-md-4"></div>
        </div>
    </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/app.js"></script>
    <script src="./static/js/bonus.js"></script>
    <script src="samples.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>